body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
    padding-top: 50px;
  }
  
  .container {
    background-color: rgb(230, 248, 148);
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.181);
    padding: 30px;
    width: 80%;
    max-width: 400px;
    margin: auto;
    
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius:5px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
  }
  